.masthead {
    position: sticky;
    top: 0;
    background-color:#f6f6f6;;
    border-bottom: 1px solid #f2f3f3;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 20
}

.masthead__inner-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: .5em;
    /* font-family: "Trebuchet MS", Helvetica, sans-serif */
}

.masthead__inner-wrap:after {
    content: " ";
    display: block;
    clear: both
}

.masthead__inner-wrap::after {
    clear: both;
    content: "";
    display: table
}

@media (min-width: 80em) {
    .masthead__inner-wrap {
        max-width: 1280px
    }
}

.masthead__inner-wrap nav {
    z-index: 10
}

.masthead__inner-wrap a {
    text-decoration: none
}

.masthead__menu ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none
}

.masthead__menu-home-item {
    display: none !important
}

@media (min-width: 48em) {
    .masthead__menu-home-item {
        display: block !important
    }
}

.masthead__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap
}

.masthead__menu-item--lg {
    padding-right: 2em;
    font-weight: 700
}

.greedy-nav {
    position: relative;
    min-width: 250px;
    background: #fff
}

.greedy-nav a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #7a8288;
    text-decoration: none
}

.greedy-nav a:hover {
    color: #5c6266
}

.greedy-nav button {
    position: absolute;
    height: 100%;
    right: 0;
    padding: 0 0.5rem;
    border: 0;
    outline: none;
    background-color: #7a8288;
    color: #fff;
    cursor: pointer
}

.greedy-nav .visible-links {
    display: table
}

.greedy-nav .visible-links li {
    display: table-cell;
    vertical-align: middle
}

.greedy-nav .visible-links li:first-child {
    font-weight: bold
}

.greedy-nav .visible-links li:first-child a {
    margin-left: 0
}

.greedy-nav .visible-links li:last-child a {
    margin-right: 0
}

.greedy-nav .visible-links a {
    position: relative
}

.greedy-nav .visible-links a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #bdc1c4;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0)
}

.greedy-nav .visible-links a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.greedy-nav .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
}

.greedy-nav .hidden-links a {
    margin: 0;
    padding: 10px 20px;
    font-size: 1em
}

.greedy-nav .hidden-links a:hover {
    color: #5c6266;
    background: #dee0e1
}

.greedy-nav .hidden-links:before {
    content: "";
    position: absolute;
    top: -11px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f2f3f3 transparent;
    display: block;
    z-index: 0
}

.greedy-nav .hidden-links:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    display: block;
    z-index: 1
}

.greedy-nav .hidden-links li {
    display: block;
    border-bottom: 1px solid #f2f3f3
}

.greedy-nav .hidden-links li:last-child {
    border-bottom: none
}

nav ul {
    margin: 0;
    padding: 0
}

nav li {
    list-style: none
}

nav a {
    text-decoration: none
}

nav ul li,
nav ol li {
    margin-bottom: 0
}

nav li ul,
nav li ol {
    margin-top: 0
}


#layout-menu a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #bdc1c4;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0)
}

#layout-menu a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}


#layout-menu a {
    position: relative;
    font-size: 5px,
}

